.page{

max-width:780px;
margin:0 auto;

padding:
clamp(60px,8vw,80px)
clamp(20px,5vw,40px)
100px;

}

section{
margin-bottom:70px;
}

header{
margin-bottom:50px;
}

h1{
font-size:2.7rem;
margin-bottom:10px;
}

.subtitle{
font-family:"DM Mono",monospace;
opacity:.7;
}

